<suite name="Suite" parallel="tests">
  <test name="Chrome">
  <parameter name="ip" value="10.0.0.7"/>
  <parameter name="browser" value="chrome"></parameter>
    <packages>
    <package name="script"/>
    </packages>
  </test>
  <test name="FireFox">
  <parameter name="ip" value="10.0.0.7"/>
  <parameter name="browser" value="firefox"></parameter>
    <packages>
    <package name="script"/>
    </packages>
  </test> 
</suite> 
